

/* General Styles */
body, html {
  /*font-family: Arial, sans-serif;*/
  font-size: 16px;
  color: #343f49;
  font-family: neuzeit-grotesk,Arial,sans-serif;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #439dc0;
  text-decoration: none;
}

a:hover {
  color: #e71b4f;
}

.container {
  width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.main-section-wrapper > .section-inner-wrap > .container {
  background-color: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}


/***** Header ****/
.header-section-wrapper {
  padding-top: 25px;
  padding-bottom: 25px;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
}

.site-title {
  color: #e71b4f;
  font-size: 1.25rem;
  line-height: 1.65rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 3px;
}

.login-block {
  text-align: right;
  margin-bottom: 10px;
}

.social-links-wrap {
  display: flex;
}

.social-link {
  display: block;
  width: 30px;
  margin-right: 10px;
}

.social-link:last-child {
  margin-right: 0;
}

.social-link:hover svg path {
  fill: #e71b4f;
}


/***** Navigation ****/
.nav-section-wrapper {
  background-color: #343f49;
}

.main-nav {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.main-nav--top {
  display: flex;
  justify-content: space-between;
  margin-left: -20px;
  margin-right: -20px;
}

.main-nav-item {
  position: relative;
}

.main-nav--sub {
  display: none;
  position: absolute;
  z-index: 15;
  min-width: 200px;
}

.main-nav-item:hover .main-nav--sub {
  display: block;
}

.main-nav-link {
  font-size: 1.125rem;
  line-height: 1.5625rem;
  padding: 20px;
  background-color: #343f49;
  color: #fff;
  display: block;
}

.main-nav-link--sub-level {
  font-size: 1rem;
  line-height: 1.1rem;
}

.main-nav-link:hover {
  color: #fff;
  background-color: #439dc0;
}


/**** MAIN SECTION ****/
.main-section-wrapper {
  background-color: #f5f5f8;
}

.main-wrap__section {
  padding-top: 25px;
  padding-bottom: 25px;
}

.issue-tiles-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}

.issue-tile {
  padding: 5px;
  width: 25%;
}

.issue-tile__link {
  display: block;
  position: relative;
}

.issue-tile__title {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  right: 15px;
  z-index: 10;
}

.issue-tile__image-wrap:after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  content: "";
  display: block;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}

.issue-tile__link:hover .issue-tile__image-wrap:after {
  background: rgba(0, 0, 0, 0.6);
}

.issue-tile__image {
  width: 100%;
  display: block;
}


/***** Partner Sites *****/
.partner-sites-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner-sites__logo-wrap {
  padding: 15px 45px;
}

.partner-sites__logo {
  max-width: 250px;
}


/***** Featured Cards *****/
.featured-cards-wrap {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.featured-card {
  width: 33.333%;
  padding: 0px 15px;
}

.featured-card__link {
  font-size: 1.25rem;
  line-height: 1.5rem;
  background-color: #fff;
  color: #343f49;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
}

.featured-card__link:hover {
  background-color: #343f49;
  color: #fff;
}

.featured-card__image-wrap {
  flex: 0 0 auto;
}

.featured-card__image {
  display: block;
}

.featured-card__title {
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  line-height: 1.5rem;
  flex: 1 1 auto;
}


/*** FEEDS ****/
.feeds-wrap {
  display: flex;
  margin-left: -20px;
  margin-right: -20px;
}

.feed {
  width: 33%;
  padding: 0px 20px;
}

.feed__title {
  font-size: 1.75rem;
  line-height: 2rem;
  margin: 0;
  border-bottom: 1px solid #e71b4f;
  display: inline-block;
}

.feed__content {
  margin-top: 20px;
}

.feed-item {
  background-color: #fff;
  margin-bottom: 15px;
}

.feed-item:last-child {
  margin-bottom: 0;
}

.feed-item__link {
  font-size: 1.25rem;
  line-height: 1.65rem;
  color: #343f49;
  font-weight: bold;
  display: block;
  transition: opacity 0.3s;
}

.feed-item__link:hover {
  opacity: 0.7;
  color: #343f49;
}

.feed-item__content {
  margin-top: 3px;
  font-size: 1rem;
  line-height: 1.25rem;
}

.feed-button {
  margin-top: 20px;
}

.feed-button__link {
  padding: 10px 15px;
  border: 1px solid #343f49;
  color: #343f49;
  display: inline-block;
}

.feed-button__link:hover {
  color: #fff;
  background-color: #439dc0;
  border: 1px solid #439dc0;
}
